# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Python
__pycache__/
*.pyc

# Data
data/*.ply
data/*.laz
data/*.las
data/*.laz.zip
data/*.zip

# OS Files
.DS_Store
